@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  /* box-sizing: content-box !important; */
}

.container {
  
}

.cont-r1,
.cont-r2 {
  display: flex;
  justify-content: center;
}

.wrapper {
  border: 0.5px solid #DADCE0;
}

.wrapper1 {
  height: fit-content;
  background-color: white;
}





.dropdown-item:hover {
  background-color: #E5E5E5 !important;
}

.dropdown-item {
  font-size: 18px !important;
}

.nav-link {
  font-size: 18px !important;
}

/* Turn section */
.player-turn {
  margin-bottom: 20px;
}

.turn-r {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.turn-c {
  border: 1px solid #DADCE0;
  border-radius: 5px;
  border-bottom: 2px solid #14bdac;
  cursor: pointer;
}

.turn-r-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.turn-r-c1 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 26px;
  margin-top: 6px;
  margin-bottom: 4px;
}

.turn-r-c2 {
  color: #70757a;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
  line-height: 20px;
}

.turnX {
  font-weight: 600 !important;
  font-size: 29px;
}

.turnY {
  font-weight: 700 !important;
  font-size: 25px;
}

/* Board section */

.wrapper2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
  background-color: #14bdac;
}

.board {
  position: absolute;
  box-sizing: content-box !important;
  width: 300px;
  height: 300px;
  background-color: #0DA192;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;
  row-gap: 8px;
}

.piece {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #14bdac;
}

.playerX {
  position: absolute;
  font-size: 90px;
  font-weight: 600 !important;
  color: #545454;
}

.playerY {
  position: absolute;
  font-size: 72px;
  font-weight: 700 !important;
  color: #F2EBD3;
}


/*  */
.show-up {
  animation: showUp 0.15s ease forwards;
}

@keyframes showUp {
  0% {
      transform: translateY(-3%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
} 


.fadeOut {
  animation: fadeOut 2s ease 0s 1 normal backwards;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(0.6);
	}
}

.fadeIn {
  animation: fadeIn 2s ease 0s 1 normal forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}



/* Win move */
.winMove {
  display: none;
  position: absolute;
  border-radius: 5px;
  height: 10px;
  width: 300px;
  background-color: #545454;
}

.show-r {
  rotate: 0deg;
  width: 320px;
}

.show-c {
  rotate: -90deg;
  width: 320px;
}

.show-d {width: 435px;}
.show-d1 {rotate: 45deg;}
.show-d2 {rotate: -45deg;}

.show-rc1 {transform: translate(0, -100px);}
.show-rc2 {transform: translate(0, 0);}
.show-rc3 {transform: translate(0, 100px);}

.s-r1 {animation: s-r1 0.2s cubic-bezier(0.12, 0, 0.39, 0) 0s 1 normal none;}
.s-r2 {animation: s-r2 0.2s cubic-bezier(0.12, 0, 0.39, 0) 0s 1 normal none;}
.s-r3 {animation: s-r3 0.2s cubic-bezier(0.12, 0, 0.39, 0) 0s 1 normal none;}
.s-c1 {animation: s-c1 0.2s cubic-bezier(0.12, 0, 0.39, 0) 0s 1 normal none;}
.s-c2 {animation: s-c2 0.2s cubic-bezier(0.12, 0, 0.39, 0) 0s 1 normal none;}
.s-c3 {animation: s-c3 0.2s cubic-bezier(0.12, 0, 0.39, 0) 0s 1 normal none;}
.s-d1 {animation: s-d1 0.2s cubic-bezier(0.12, 0, 0.39, 0) 0s 1 normal none;}
.s-d2 {animation: s-d2 0.2s cubic-bezier(0.12, 0, 0.39, 0) 0s 1 normal none;}


@keyframes s-r1 {
	0% {
		transform: translate(0, -100px) scaleX(0);
		transform-origin: 0% 0%; rotate: 0deg;
	}

	100% {
		transform: translate(0, -100px) scaleX(1);
		transform-origin: 0% 0%; rotate: 0deg;
	}
}

@keyframes s-r2 {
	0% {
		transform: translate(0, 0px) scaleX(0);
		transform-origin: 0% 0%; rotate: 0deg;
	}

	100% {
		transform: translate(0, 0px) scaleX(1);
		transform-origin: 0% 0%; rotate: 0deg;
	}
}

@keyframes s-r3 {
	0% {
		transform: translate(0, 100px) scaleX(0);
		transform-origin: 0% 0%; rotate: 0deg;
	}

	100% {
		transform: translate(0, 100px) scaleX(1);
		transform-origin: 0% 0%; rotate: 0deg;
	}
}


@keyframes s-c1 {
	0% {
		transform: translate(-155px, -65px) scaleX(0);
		transform-origin: 0% 0%; rotate: 90deg;
	}

	100% {
		transform: translate(-155px, -65px) scaleX(1);
		transform-origin: 0% 0%; rotate: 90deg;
	}
}

@keyframes s-c2 {
	0% {
		transform: translate(-155px, -165px) scaleX(0);
		transform-origin: 0% 0%; rotate: 90deg;
	}

	100% {
		transform: translate(-155px, -165px) scaleX(1);
		transform-origin: 0% 0%; rotate: 90deg;
	}
}

@keyframes s-c3 {
	0% {
		transform: translate(-155px, -265px) scaleX(0);
		transform-origin: 0% 0%; rotate: 90deg;
	}

	100% {
		transform: translate(-155px, -265px) scaleX(1);
		transform-origin: 0% 0%; rotate: 90deg;
	}
}

@keyframes s-d1 {
	0% {
		transform: translate(-60px, -155px) scaleX(0);
		transform-origin: 0% 0%; rotate: 45deg;
	}

	100% {
		transform: translate(-60px, -155px) scaleX(1);
		transform-origin: 0% 0%; rotate: 45deg;
	}
}

@keyframes s-d2 {
	0% {
		transform: translate(-67px, 152px) scaleX(0);
		transform-origin: 0% 0%; rotate: -45deg;
	}

	100% {
		transform: translate(-67px, 152px) scaleX(1);
		transform-origin: 0% 0%; rotate: -45deg;
	}
}
















/* @keyframes topShow {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
} */





/* Winner screen */



.Xwin-icon {
  text-align: center;
  font-size: 180px;
  line-height: 150px;
}

.win-txt {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0px;
  color: #545454;
}


.Ywin-icon {
  color: #F2EBD3;
}

.Ywin-icon {
  text-align: center;
  font-size: 132px;
  font-weight: 700 !important;
  line-height: 150px;
}

.winnerAnn{
  display: flex;
  flex-direction: column;
  color: #545454;
  display: none;
  animation: fadeIn 0.2s ease 0s 1 normal forwards;
}


.winnerDraw-r1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}